
[task.xslx-to-oscal-component-definition]

catalog-file = /home/degenaro/git/compliance-trestle.profile-scc/demo/catalogs/nist-800-53-rev5/catalog.json
spread-sheet = /home/degenaro/git/compliance-trestle.profile-scc/demo/spread-sheet/NIST_IBM_Goals_Mapping_Details-2.xlsx
output-dir = /home/degenaro/git/compliance-trestle.profile-scc/demo/component-definitions/toolchain
output-overwrite = true
